<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>San Martin</title>
</head>
<body>
    <h1 id="bio">Biografia</h1>
    <H2>San Martin</H2>
    <p>Nacido en <strong>Yapeyu</strong> Corrientes</p>
    <br>El 25 de febrero de 1778</br>
    <em>Hijo de </em><i>José Francisco de San Martín y Matorras</i>
    <h3>Batallas del General</h3>
    <ol>
        <li>San Lorenzo</li>
        <li>Chacabuco</li>
        <li>Maipu</li>
        <li>Cancha Rayada</li>
    </ol>
    <h3>Paises que libero</h3>
    <ol>
        <li>Argentina</li>
        <li>Chile</li>
        <li>Peru</li>
    </ol>
    <h4>Hermanos</h4>
    <ul>
        <li>Manuel Tadeo de San Martin</li>
        <li>Juan Fermin de San Martin</li>
        <li>Maria Elena de San Martin</li>
        <li>Justo Rufino de San Martin</li>
    </ul>
    <h4>Paises en donde vivio</h4>
    <ul>
        <li>Argentina</li>
        <li>Peru</li>
        <li>Chile</li>
        <li>España</li>
        <li>Francia</li>
    <h4>muerte del genral</h4>
    <p> 17 de agosto de 1850, Boulogne-sur-Mer, Francia</p>
    <a href="#bio">Inicio</a>
    </ul>
    <a href="https://es.wikipedia.org/wiki/Jos%C3%A9_de_San_Mart%C3%ADn#:~:text=Jos%C3%A9%20Francisco%20de%20San%20Mart%C3%ADn,de%20Argentina%2C%20Chile%20y%20Per%C3%BA." target="_blank">mas informacion </a>
    <br>
    <a href="TP1_N_OrtizNahuel_hija.html">Hija del General </a>.</br>
</body>
</html>